
/* Step-2.1 One option to align this container to the center would be to give it a margin-left: auto; and margin-right: auto; */

.profile-image-container {
    position: relative;
    background: #96F0F2;
    margin: 25px auto 25px auto;
    width: 85%;
    height: 25%;
}

/* Step-2.2  One option to align this container to the center would be to give it a margin-left: auto; and margin-right: auto; */

.profile-links-container {
    position: relative;
    background: #12F3F7;
    margin: 0px auto 25px auto;
    width: 85%;
    height: 50%;
}

/* Step-2.3  You can either use float left or position absolute to get this element to in the desired location */

.logo-container {
    float: left;
    background: #4F4949;
    margin: 25px;
    width: 300px;
    height: 50px;
}


/* Step-2.4 You can either use float left or position absolute to get this element to in the desired location*/

.menu-container {
    float: right;
    background: #4F4949;
    margin: 25px;
    height: 50px;
    width: 40px;
}
