/* Step-3.1  Not much to do here except add a width */
.content-mid-header {
    margin: 0px auto;
    background: #444;
    width: 100%;
    height: 80px;
}


/* Step-3.3 add a margin top to give this container some space. Also you're going to want to set the  margin-left and margin-right to auto. This will give equal distance left and right to the container. Essentially centering the container   */
.content-container {
 position: relative;
 background: #D8D8D8;
 margin: 50px auto;
 width: 85%;
 height: 60%;
}


/* Step-3.2  Remember to add some padding and text-align*/

.content {
  font-family: Arial, sans-serif;
  font-size: .75em;
  text-align: center;
  padding: 100px 5px;
  height: 100px;
  width: 100%;
}
